@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-size: 16px;
  color: #fff;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

.content {
  padding: 20px;
  margin: 24px;
  background-color: #153D77;
}

.main-title {
    text-align: center;
    color: #153D77;
}

a.navbar-brand {
    height: auto;
    color: #fff !important;
}

.navbar {
    margin-bottom: 0;
}

#header-nav {
  background-color: #153D77;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: "Lora", serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p {
  color: #000;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-top: 15px;
}
.navbar-brand p span {
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #fff;
  text-align: center;
}
#nav-list a:hover {
  background: #e7e7e7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #fff;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
  .navbar-brand {
    height: 80px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw;
  }
  .navbar-brand p {
    font-size: 0.6em;
    margin-top: 12px;
  }
  .navbar-toggle {
      margin-bottom: 18px;
  }
  .navbar-brand p img {
    height: 20px;
  }

  #collapsable-nav a {
    font-size: 1.2em;
  }
  #collapsable-nav a span {
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: white;
    color: white;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}
